.login-container{
    display: flex;
    align-items: center;
    /* background-color: #040220; */
}
.inputs{
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 20px;
   gap: 8px;
}
.loginPage{
    background-color: #1a202c;
    padding-top: 40px;
    width: 100vw;
    height: 100vh;
}
.sp{
    color:blue;
 }